@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.n5e.sheet.actor.npc {
  min-width: 750px;
  min-height: 680px;

  .header-exp {
    flex: 0 0 80px;
    justify-content: center;
    .npclevel {
      flex: 0 0 32px;
      line-height: 28px;
      margin-bottom: -5px;
      font-size: 24px;
      input {
        width: 32px;
        padding: 0;
        text-align: center;
      }
    }
    .experience, .proficiency {
      flex: 0 0 18px;
      color: @colorTan;
      font-size: 16px;
    }
    .proficiency {
      margin-top: -0.3em;
    }
  }

  .summary {
    font-size: 18px;

    .creature-type {
      display: flex;
      justify-content: space-between;
      width: 1em;
      padding: 0 3px;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .config-button {
        display: none;
        font-size: 12px;
        font-weight: normal;
        line-height: 2em;
      }
      &:hover .config-button {
        display: block;
      }
    }
  }
}