/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  All N5e Apps                            */
/* ----------------------------------------- */
h5 {
  margin-block-start: 1em;
  margin-block-end: 0;
  font-size: var(--font-size-13);
}
.n5e {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.n5e .window-content {
  font-size: 13px;
}
.n5e h3 {
  border-bottom: none;
}
.n5e .h3currency {
  flex: 0 0 10%;

}
.n5e input[type="text"],
.n5e input[type="number"],
.n5e select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.n5e input[type="text"]:hover,
.n5e input[type="number"]:hover,
.n5e input[type="checkbox"]:hover,
.n5e input[type="text"]:focus,
.n5e input[type="number"]:focus,
.n5e input[type="checkbox"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.n5e input:disabled,
.n5e select:disabled,
.n5e textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}
.n5e input:disabled:hover,
.n5e select:disabled:hover,
.n5e textarea:disabled:hover,
.n5e input:disabled:focus,
.n5e select:disabled:focus,
.n5e textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.n5e button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.n5e .secret .reveal {
  border: 1px dashed var(--color-border-light-primary);
  background: rgba(255, 255, 240, 0.8);
}
.n5e .locked .secret .reveal {
  display: none;
}
.n5e .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.n5e .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.n5e .form-group .form-fields > * {
  flex: 1;
}
.n5e .form-group .form-fields .flex1 {
  flex: 1;
}
.n5e .form-group .form-fields .flex2 {
  flex: 2;
}
.n5e .form-group .form-fields .flex3 {
  flex: 3;
}
.n5e .form-group .form-fields .flex4 {
  flex: 4;
}
.n5e .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.n5e .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.n5e .form-group.stacked > label {
  flex: 0 0 100%;
  margin: 0;
}
.n5e .form-group.stacked label.checkbox,
.n5e .form-group.stacked label.radio {
  flex: auto;
  text-align: left;
}
.n5e .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.n5e .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/* ----------------------------------------- */
/*  Dice Config Sheet Specifically       */
/* ----------------------------------------- */
.n5e.hd-config .form-group button.increment, .n5e.cd-config .form-group button.increment,
.n5e.hd-config .form-group button.decrement, .n5e.cd-config .form-group button.decrement {
  flex: 0 0 1rem;
  line-height: 1rem;
}
.n5e.hd-config .form-group button.decrement, .n5e.cd-config .form-group button.decrement {
  margin-right: 0;
}
.n5e.hd-config .form-group span.sep, .n5e.cd-config .form-group span.sep {
  margin: 0;
}
.n5e.hd-config .form-group input, .n5e.cd-config .form-group input {
  flex: 0 0 2rem;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.n5e.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Notifications                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
}
.n5e.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.n5e.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.n5e.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.n5e.sheet input[type="text"],
.n5e.sheet input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.n5e.sheet input[type="text"]:hover,
.n5e.sheet input[type="number"]:hover,
.n5e.sheet input[type="text"]:focus,
.n5e.sheet input[type="number"]:focus {
  border: 1px solid #111;
}
.n5e.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.n5e.sheet .editable .rollable:hover {
  cursor: pointer;
}
.n5e.sheet .editable h4.rollable:hover,
.n5e.sheet .editable .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}
.n5e.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.n5e.sheet .editor {
  height: 100%;
}
.n5e.sheet .editor .tox-toolbar-overlord,
.n5e.sheet .editor .tox-toolbar__primary {
  background: none;
}
.n5e.sheet .warnings,
.n5e.sheet .info {
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.n5e.sheet .warnings .notification,
.n5e.sheet .info .notification {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 13px;
  box-shadow: none;
  padding: 2px 8px;
  margin-bottom: 2px;
}
.n5e.sheet .warnings .warning,
.n5e.sheet .info .warning,
.n5e.sheet .warnings .error,
.n5e.sheet .info .error {
  text-shadow: black 0 0 1px, rgba(0, 0, 0, 0.75) 0 0 2px, rgba(0, 0, 0, 0.5) 0 0 4px;
}
.n5e.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.n5e.sheet .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.n5e.sheet .sheet-header .header-details .summary select {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 100;
}
.n5e.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.n5e.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.n5e.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.n5e.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.n5e.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.n5e.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.n5e.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.n5e.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.n5e.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.n5e.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.n5e.sheet .filter-list {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.n5e.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.n5e.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.n5e.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.n5e.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.n5e.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.n5e.sheet .traits {
  margin: 5px 0 0;
}
.n5e.sheet .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.n5e.sheet .trait-selector,
.n5e.sheet .proficiency-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.n5e {
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
}
.n5e .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.n5e .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.n5e .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}
.n5e .items-list .item-name h3,
.n5e .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.n5e .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.n5e .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}
.n5e .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.n5e .items-list .item:last-child {
  border-bottom: none;
}
.n5e .items-list .item .item-name {
  color: #191813;
}
.n5e .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}
.n5e .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.n5e .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.n5e .items-list .items-header h3 {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}
.n5e .effects .item .effect-source,
.n5e .effects .item .effect-duration,
.n5e .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.n5e .effects .item .effect-controls {
  border: none;
}
/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
.trait-selector .trait-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.trait-selector .trait-list li ol.trait-list {
  margin-left: 1.5em;
}
.trait-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
/* ----------------------------------------- */
/*  Property Attribution                     */
/* ----------------------------------------- */
#tooltip.property-attribution {
  min-width: 150px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  text-align: left !important;
}
#tooltip.property-attribution table {
  margin: 0;
  border: 0;
  font-size: var(--font-size-14);
}
#tooltip.property-attribution table caption {
  padding-block: 0.25em 0.5em;
  font-size: var(--font-size-16);
}
#tooltip.property-attribution table tr {
  background-color: inherit;
}
#tooltip.property-attribution table td {
  padding: 3px;
}
#tooltip.property-attribution table tr.total > td {
  font-weight: 600;
  padding-top: 5px;
  border-top: 1px solid #7a7971;
}
#tooltip.property-attribution table td.attribution-value {
  width: 20%;
  padding-right: 5px;
  text-align: right;
  font-weight: 600;
}
#tooltip.property-attribution table td::before {
  opacity: 0.6;
}
#tooltip.property-attribution table td.mode-1::before {
  content: "×";
}
#tooltip.property-attribution table td.mode-2::before {
  content: "+";
}
#tooltip.property-attribution table td.mode-2.negative::before {
  content: "−";
  margin-right: -1px;
}
#tooltip.property-attribution table td.mode-3::before {
  content: "↓";
}
#tooltip.property-attribution table td.mode-4::before {
  content: "↑";
}
/* ----------------------------------------- */
/*  Actor Type Config Sheet Specifically     */
/* ----------------------------------------- */
.actor-type .trait-list {
  display: flex;
  flex-wrap: wrap;
}
.actor-type .trait-list li {
  flex-basis: 50%;
  flex-grow: 1;
}
.actor-type .trait-list li.form-group {
  flex-basis: 100%;
}
.actor-type label.radio {
  display: flex;
  flex: auto;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
.actor-type label.radio > input[type="radio"] {
  margin: 0 5px 0 0;
}
.actor-type li.custom-type input[type="radio"] {
  display: none;
}
/* ----------------------------------------- */
/*  Armor Config Sheet Specifically          */
/* ----------------------------------------- */
.n5e.actor-armor-config .ac-field input,
.n5e.actor-chakra-points-config .ac-field input,
.n5e.actor-hit-points-config .ac-field input,
.n5e.actor-armor-config .cp-field input,
.n5e.actor-armor-config .hp-field input,
.n5e.actor-chakra-points-config .cp-field input,
.n5e.actor-hit-points-config .hp-field input {
  font-size: 3em;
  text-align: center;
}
/* ----------------------------------------- */
/*  Add Feature Prompt Specifically          */
/* ----------------------------------------- */
.n5e.select-items-prompt .dialog-content {
  margin-bottom: 1em;
}
.n5e.select-items-prompt .items-list {
  margin-top: 0.5em;
}
.n5e.select-items-prompt .item-name > label,
.n5e.select-items-prompt .item-image,
.n5e.select-items-prompt input {
  cursor: pointer;
}
.n5e.select-items-prompt .item-name > label {
  align-items: center;
}
.n5e.select-items-prompt .window-content {
  max-height: 90vh;
  overflow-y: auto;
}
/* ----------------------------------------- */
/*  Polymorph Features                       */
/* ----------------------------------------- */
.polymorph {
  /* ----------------------------------------- */
  /*  Two Column Configurations                */
  /* ----------------------------------------- */
}
.polymorph.two-column {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 0.4em;
}
/* ----------------------------------------- */
/*  Module Art Configuration                 */
/* ----------------------------------------- */
#module-art-config .form-group-stacked {
  flex-wrap: nowrap;
  justify-content: space-between;
}
#module-art-config .form-group-stacked > label {
  flex: 1 0 auto;
}
#module-art-config .form-group-stacked > .form-fields {
  flex: 0 0 auto;
  display: flex;
  gap: 0.5rem;
}
#module-art-config .form-group-stacked > .form-fields label {
  display: flex;
  align-items: center;
}
#module-art-config .form-group-stacked > .form-fields input {
  width: 16px;
  height: 16px;
}
.n5e.sheet.actor {
  /* ----------------------------------------- */
  /*  Shared Styles                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Tools                                    */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* Inventory List Filters */
  /* ----------------------------------------- */
  /*  Jutsulist                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Features Tab                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
}
.n5e.sheet.actor .config-button {
  color: #4b4a44;
  font-size: 10px;
  font-weight: normal;
}
.n5e.sheet.actor .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.n5e.sheet.actor .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.n5e.sheet.actor .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
}
.n5e.sheet.actor .sheet-header .header-exp {
  flex: 0 0 150px;
  max-width: 18em;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}
.n5e.sheet.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.n5e.sheet.actor .sheet-header .summary input,
.n5e.sheet.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.n5e.sheet.actor .sheet-header .summary span {
  margin-inline: 4px;
  border-block-start: 1px solid transparent;
  white-space: nowrap;
}
.n5e.sheet.actor .sheet-header .summary select {
  position: relative;
  top: -4px;
}
.n5e.sheet.actor .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.n5e.sheet.actor .sheet-header .attributes .attribute {
  position: relative;
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.n5e.sheet.actor .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.n5e.sheet.actor .sheet-header .attributes .attribute .attribute-name {
  position: relative;
}
.n5e.sheet.actor .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.n5e.sheet.actor .sheet-header .attributes .attribute .config-button {
  position: absolute;
  padding: 4px;
  right: 0;
  top: 0;
  display: none;
}
.n5e.sheet.actor .sheet-header .attributes .attribute:hover .config-button {
  display: block;
}
.n5e.sheet.actor .sheet-header .attributes .attribute input.temphp,
.n5e.sheet.actor .sheet-header .attributes .attribute input.tempcp,
.n5e.sheet.actor .sheet-header .attributes .attribute input.denom {
  width: 48%;
}
.n5e.sheet.actor h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
  white-space: nowrap;
}
.n5e.sheet.actor .tab.attributes {
  overflow: hidden;
  align-items: flex-start;
}
.n5e.sheet.actor ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.n5e.sheet.actor ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #eeede0;
  border-radius: 4px;
  text-align: center;
}
.n5e.sheet.actor ul.attributes li.attribute:last-child {
  margin: 0;
}
.n5e.sheet.actor ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.n5e.sheet.actor ul.attributes li.attribute .attribute-value > * {
  font-weight: 400;
  font-size: 24px;
}
.n5e.sheet.actor ul.attributes li.attribute .attribute-value.multiple input,
.n5e.sheet.actor ul.attributes li.attribute .attribute-value.multiple span:not(.sep) {
  flex: 0 0 33%;
}
.n5e.sheet.actor ul.attributes li.attribute .attribute-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: "Signika", sans-serif;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.n5e.sheet.actor .ability-scores {
  flex: 0 0 100px;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.n5e.sheet.actor .ability-scores .ability {
  height: 70px;
  text-align: center;
  border-bottom: 2px groove #eeede0;
  position: relative;
}
.n5e.sheet.actor .ability-scores .ability:last-child {
  border-bottom: none;
  margin-bottom: -3px;
}
.n5e.sheet.actor .ability-scores .ability input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.n5e.sheet.actor .ability-scores .ability .config-button {
  right: 2px;
  top: 3px;
  position: absolute;
  display: none;
}
.n5e.sheet.actor .ability-scores .ability:hover .config-button {
  display: block;
}
.n5e.sheet.actor .ability-scores .ability .ability-modifiers {
  height: 24px;
  margin: -8px 0 0;
}
.n5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.n5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  flex: 0 0 24px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  border-top: 2px groove #eeede0;
}
.n5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
  border-right: 2px groove #eeede0;
}
.n5e.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
  line-height: 30px;
}
.n5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  border-left: 2px groove #eeede0;
}
.n5e.sheet.actor .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}
.n5e.sheet.actor .proficiency-toggle.disabled {
  cursor: default;
  text-shadow: none;
}
.n5e.sheet.actor .proficient .proficiency-toggle {
  color: #4b4a44;
}
.n5e.sheet.actor .locked .proficiency-toggle {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.n5e.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  list-style: none;
  margin: 0 5px 0;
  padding: 0;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.n5e.sheet.actor ul.skills-list li.skill {
  height: 24px;
  padding: 3px 2px;
}
.n5e.sheet.actor ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.n5e.sheet.actor ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-name-controls {
  position: relative;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-name-controls .config-button {
  right: 3px;
  top: 4px;
  position: absolute;
  display: none;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-name-controls:hover .config-button {
  display: block;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-ability {
  flex: 0 0 26px;
  text-transform: capitalize;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
}
.n5e.sheet.actor ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: center;
  color: #7a7971;
}
.n5e.sheet.actor .tag.tool {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 1px 4px;
}
.n5e.sheet.actor .tag.tool a:is(.proficiency-toggle, .config-button) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
}
.n5e.sheet.actor .tag.tool a:is(.proficiency-toggle, .config-button) > i {
  margin: 0;
}
.n5e.sheet.actor .tag.tool h4 {
  margin: 0;
}
.n5e.sheet.actor .counters {
  flex: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 2px groove #eeede0;
}
.n5e.sheet.actor .counters .counter {
  height: 20px;
  line-height: 20px;
}
.n5e.sheet.actor .counters .counter h4 {
  flex: auto;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4b4a44;
}
.n5e.sheet.actor .counters .counter .counter-value {
  flex: none;
  text-align: right;
}
.n5e.sheet.actor .counters .counter .counter-value > * {
  display: inline;
}
.n5e.sheet.actor .counters .counter input[type="text"],
.n5e.sheet.actor .counters .counter input[type="number"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.n5e.sheet.actor .counters .counter input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 4px;
}
.n5e.sheet.actor .counters .counter span.sep {
  font-size: 12px;
}
.n5e.sheet.actor .center-pane {
  height: 100%;
  padding: 0 5px 0 3px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.n5e.sheet.actor .traits .form-group,
.n5e.sheet.actor .traits .form-group-stacked {
  margin: 0 0 3px 0;
  justify-content: space-between;
}
.n5e.sheet.actor .traits .config-button {
  flex: 1;
}
.n5e.sheet.actor .traits label {
  flex: none;
  line-height: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.n5e.sheet.actor .traits select {
  max-width: 200px;
}
.n5e.sheet.actor .traits input {
  text-align: right;
}
.n5e.sheet.actor .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.n5e.sheet.actor .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.n5e.sheet.actor .traits .inactive {
  color: #7a7971;
}
.n5e.sheet.actor .tab.features,
.n5e.sheet.actor .tab.inventory,
.n5e.sheet.actor .tab.jutsulist {
  overflow-y: hidden;
}
.n5e.sheet.actor .inventory-filters {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.n5e.sheet.actor .inventory-filters .attunement {
  color: #7a7971;
  font-size: 12px;
}
.n5e.sheet.actor .inventory-filters .attunement [name="system.attributes.attunement.max"] {
  display: inline;
  max-width: 23px;
  text-align: center;
}
.n5e.sheet.actor .inventory-filters .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
}
.n5e.sheet.actor .inventory-filters .currency label {
  flex: 0;
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.n5e.sheet.actor .inventory-filters .currency input[type="text"],
.n5e.sheet.actor .inventory-filters .currency input[type="number"] {
  flex: 0 0 48px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.n5e.sheet.actor .inventory-list {
  padding: 0 5px;
}
.n5e.sheet.actor .inventory-list .item .item-name {
  cursor: pointer;
}
.n5e.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.n5e.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.n5e.sheet.actor .inventory-list .item .item-name i.attuned {
  color: #44191A;
}
.n5e.sheet.actor .inventory-list .item .item-name i.not-attuned {
  color: #7a7971;
}
.n5e.sheet.actor .inventory-list .item .item-name h4 {
  line-height: 30px;
}
.n5e.sheet.actor .inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}
.n5e.sheet.actor .inventory-list .item .item-properties {
  margin-top: 3px;
}
.n5e.sheet.actor .inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  white-space: nowrap;
}
.n5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.n5e.sheet.actor .inventory-list .item-detail {
  flex: 0 0 70px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.n5e.sheet.actor .inventory-list .item-detail:last-child {
  border-right: none;
}
.n5e.sheet.actor .inventory-list .item-detail.item-action {
  flex: 0 0 100px;
}
.n5e.sheet.actor .inventory-list .item-detail.item-quantity {
  flex: 0 0 40px;
}
.n5e.sheet.actor .inventory-list .item-detail.attunement {
  flex: 0 0 24px;
}
.n5e.sheet.actor .inventory-list .item-bulk {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.n5e.sheet.actor .inventory-list .item-controls {
  flex: 0 0 44px;
}
.n5e.sheet.actor .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  color: #191813;
  border-top: 1px solid #c9c7b8;
}
.n5e.sheet.actor .encumbrance {
  flex: 0 0 12px;
  background: #7a7971;
  margin: 1px 15px 0 1px;
  border: 1px solid #191813;
  border-radius: 3px;
  position: relative;
}
.n5e.sheet.actor .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #6c8aa5;
  height: 8px;
  border: 1px solid #cde4ff;
  border-radius: 2px;
}
.n5e.sheet.actor .encumbrance .encumbrance-label {
  height: 10px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 12px;
  text-align: right;
  color: #EEE;
  text-shadow: 0 0 5px #000;
}
.n5e.sheet.actor .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}
.n5e.sheet.actor .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
.n5e.sheet.actor .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #000;
}
.n5e.sheet.actor .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #000;
}
.n5e.sheet.actor .jutsucasting-ability {
  flex: 0 0 240px;
  margin: 0;
}
.n5e.sheet.actor .jutsucasting-ability label,
.n5e.sheet.actor .jutsucasting-ability span {
  flex: none;
}
.n5e.sheet.actor .jutsucasting-ability input {
  flex: 0 0 28px;
  text-align: center;
}
.n5e.sheet.actor .jutsucasting-ability select {
  margin: 0 5px;
  flex: 0 0 120px;
}
.n5e.sheet.actor .jutsu-comps {
  flex: none;
  padding: 0 5px;
  font-size: 12px;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
}
.n5e.sheet.actor .jutsulist .jutsu-uses {
  padding-right: 5px;
  text-align: right;
  color: #7a7971;
}
.n5e.sheet.actor .jutsu-class,
.n5e.sheet.actor .jutsu-action,
.n5e.sheet.actor .jutsu-target {
  flex: 0 0 100px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.n5e.sheet.actor .jutsu-component {
  line-height: 14px;
}
.n5e.sheet.actor .jutsu-component.tag {
  display: inline-block;
  text-align: center;
  padding-top: 1px;
  min-width: 16px;
  color: #c9c7b8;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 8px;
}
.n5e.sheet.actor .jutsulist-empty .item-controls {
  flex: 1;
}
.n5e.sheet.actor .features i.original-class {
  color: #4b4a44;
}
.n5e.sheet.actor .features .item-detail select {
  max-width: 90%;
}
.n5e.sheet.actor .editor {
  padding: 0 8px;
}
#actor-flags .window-content {
  overflow-y: hidden;
}
#actor-flags form {
  height: 100%;
}
#actor-flags .form-body {
  height: calc(100% - 40px);
  padding-right: 8px;
  margin-bottom: 4px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.n5e.advancement {
  /* ----------------------------------------- */
  /*  Advancement Selection                    */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Two Column Configurations                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Choice                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Scale Value                              */
  /* ----------------------------------------- */
}
.n5e.advancement input[type="text"],
.n5e.advancement input[type="number"],
.n5e.advancement select {
  height: var(--form-field-height);
}
.n5e.advancement input[type="text"][readonly],
.n5e.advancement input[type="number"][readonly],
.n5e.advancement select[readonly] {
  color: var(--color-text-dark-6);
  box-shadow: none;
}
.n5e.advancement .form-group .form-fields button {
  flex: 0;
}
.n5e.advancement .form-group .form-field-readonly {
  color: #999;
}
.n5e.advancement .items-list {
  margin-bottom: 1em;
  /* Solves the borders being cut off */
}
.n5e.advancement .items-list li.item {
  padding-top: 0.25em;
}
.n5e.advancement .items-list .item-hint {
  flex: 0 1 100%;
  margin-left: 35px;
  margin-bottom: 0.5em;
}
.n5e.advancement .items-list .content-link {
  display: inline-block;
}
.n5e.advancement .centered {
  text-align: center;
}
.n5e.advancement.two-column {
  --grid-two-column-left-size: 1fr;
  --grid-two-column-right-size: 1fr;
}
.n5e.advancement.two-column form {
  display: grid;
  grid-template-columns: var(--grid-two-column-left-size) var(--grid-two-column-right-size);
  grid-template-areas: "left right";
  grid-gap: 0.4em;
}
.n5e.advancement.two-column form .left-column {
  grid-area: left;
  display: flex;
  flex-direction: column;
}
.n5e.advancement.two-column form .left-column > .form-group {
  flex: none;
}
.n5e.advancement.two-column form .left-column > .drop-target {
  flex: 1;
}
.n5e.advancement.two-column form .right-column {
  grid-area: right;
}
.n5e.advancement.two-column form .right-column.level-list label {
  flex: 0.5;
  padding-right: 0.5rem;
  text-align: end;
}
.n5e.advancement.two-column form .right-column.level-list :is(input[type="text"], input[type="number"])::placeholder {
  opacity: 0.5;
}
.n5e.advancement.two-column form button[type="submit"] {
  grid-column-end: span 2;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores {
  contain: layout;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores > label {
  grid-area: auto / span 3;
  margin-block: 0.5em 0;
  padding: 0;
  font-size: var(--font-size-18);
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li {
  display: grid;
  grid-template: "label label label label" "minus value value plus" "minus delta delta plus";
  align-items: center;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li.hint {
  display: block;
  grid-column: 2 / 4;
  text-align: start;
  align-self: end;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li label {
  grid-area: label;
  font-size: var(--font-size-18);
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li a {
  font-size: var(--font-size-16);
  padding: 0.5em;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li a:not([data-action]) {
  opacity: 33%;
  cursor: default;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li a:not([data-action]):hover {
  text-shadow: none;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li .minus {
  grid-area: minus;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li .plus {
  grid-area: plus;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li input {
  grid-area: value;
  height: 1.5em;
  border: none;
  background: none;
  font-size: var(--font-size-28);
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li .delta {
  grid-area: delta;
  font-size: var(--font-size-16);
  font-weight: bold;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores li .delta i {
  font-size: var(--font-size-12);
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .ability-scores.disabled li {
  opacity: 60%;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .drop-area {
  padding-block: 0.5em;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .drop-area h4 {
  font-size: var(--font-size-16);
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .drop-area a.item-control {
  flex: 0;
}
.n5e.advancement form[data-type="AbilityScoreImprovement"] .drop-area.empty {
  padding-block: 1em;
  border: 1px dashed var(--color-border-light-2);
  border-radius: 5px;
  justify-content: center;
}
.n5e.advancement.item-choice {
  --grid-two-column-right-size: 0.5fr;
}
.n5e.advancement.item-choice .level-list .hint {
  text-align: end;
}
.n5e.advancement.item-choice .form-group:has(textarea) {
  align-items: flex-start;
}
.n5e.advancement.item-choice textarea {
  margin-inline-start: 8px;
  border: 1px solid var(--color-border-light-tertiary);
  font-family: var(--font-primary);
  font-size: var(--font-size-12);
  height: 100px;
}
.n5e.advancement.scale-value {
  --grid-two-column-right-size: 0.6fr;
}
.n5e.advancement.scale-value select.new-scale-value {
  font-weight: bold;
}
.n5e.advancement.scale-value select option[value=""] {
  color: var(--color-text-light-6);
}
.n5e.advancement-migration .items-list {
  margin-block-end: 1em;
}
/* ----------------------------------------- */
/*  Advancement Flow                         */
/* ----------------------------------------- */
.n5e.advancement.flow .step {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.n5e.advancement.flow .step h1 {
  flex-grow: 1;
}
.n5e.advancement.flow .step h2 {
  text-align: right;
  line-height: 1.8em;
  border-bottom: 2px solid var(--color-underline-header);
}
.n5e.advancement.flow .step form {
  flex-basis: 100%;
}
.n5e.advancement.flow h3 {
  font-size: var(--font-size-20);
}
.n5e.advancement.flow .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  margin-inline-end: 5px;
}
.n5e.advancement.flow .item-name label {
  align-items: center;
}
.n5e.advancement.flow .item-name label h4 {
  margin: 0;
  font-size: 0.9rem;
}
.n5e.advancement.flow form:not(:last-of-type) {
  margin-block-end: 0.5em;
  border-block-end: 2px groove var(--color-border-light-1);
  padding-block-end: 1em;
}
.n5e.advancement.flow input.error {
  outline: 2px solid red;
}
.n5e.advancement.flow form[data-type="HitPoints"],
.n5e.advancement.flow form[data-type="ChakraPoints"] div {
  font-size: var(--font-size-14);
}
.n5e.advancement.flow form[data-type="HitPoints"] .rolls,
.n5e.advancement.flow form[data-type="ChakraPoints"] .rolls {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  align-items: center;
  gap: 2px;
}
.n5e.advancement.flow form[data-type="HitPoints"] .rolls .averageLabel span,
.n5e.advancement.flow form[data-type="ChakraPoints"] .rolls .averageLabel span,
.n5e.advancement.flow form[data-type="HitPoints"] .rolls .averageLabel input,
.n5e.advancement.flow form[data-type="ChakraPoints"] .rolls .averageLabel input {
  vertical-align: middle;
}
.n5e.advancement.flow form[data-type="HitPoints"] .rolls .rollResult,
.n5e.advancement.flow form[data-type="ChakraPoints"] .rolls .rollResult {
  text-align: center;
}
.n5e.advancement.flow form[data-type="HitPoints"] .rolls .rollButton,
.n5e.advancement.flow form[data-type="ChakraPoints"] .rolls .rollButton {
  height: calc(var(--form-field-height) + 5px);
  line-height: 1.5em;
}
.n5e.advancement.flow form[data-type="ItemChoice"] .item-name .item-delete {
  flex: 0 0 20px;
  margin-inline-end: 1px;
}
.n5e.advancement.flow form[data-type="ScaleValue"] p {
  margin-block-end: 0;
  font-size: var(--font-size-18);
}
.n5e.advancement.flow form[data-type="ScaleValue"] span.none {
  font-style: italic;
}
.n5e.advancement.flow nav {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 1em;
}
.n5e.advancement.flow nav button {
  max-width: 50%;
}
.n5e.sheet.item {
  min-height: 400px;
  max-height: 95%;
  min-width: 480px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Loot Sheet (No Tabs)                     */
  /* ----------------------------------------- */
}
.n5e.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.n5e.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 100px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  white-space: nowrap;
  color: #7a7971;
}
.n5e.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.n5e.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.n5e.sheet.item .sheet-header .summary .class-level {
  flex: 0 0 4em;
  padding: 0 0.25em;
  text-align: right;
}
.n5e.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.n5e.sheet.item .sheet-navigation .item {
  font-size: 18px;
}
.n5e.sheet.item .sheet-body {
  overflow: hidden;
}
.n5e.sheet.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.n5e.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.n5e.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.n5e.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.n5e.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.n5e.sheet.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.n5e.sheet.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.n5e.sheet.item .sheet-body .item-properties .properties-header {
  font-weight: bold;
  color: #4b4a44;
  margin: 0.5em 0 0 0;
  font-size: 1em;
}
.n5e.sheet.item .sheet-body .item-properties [name="system.price.denomination"] {
  border: none;
}
.n5e.sheet.item .details input[type="text"],
.n5e.sheet.item .details input[type="number"],
.n5e.sheet.item .details select {
  height: 24px;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.n5e.sheet.item .details .form-group span {
  text-align: center;
  line-height: 24px;
}
.n5e.sheet.item .details .form-group.input-select select {
  flex: 1.8;
}
.n5e.sheet.item .details .form-group.input-select-select select {
  flex: 1.5;
}
.n5e.sheet.item .details .form-group.uses-per .form-fields,
.n5e.sheet.item .details .form-group.consumption .form-fields {
  flex-wrap: nowrap;
}
.n5e.sheet.item .details .form-group.uses-per.consumption input,
.n5e.sheet.item .details .form-group.consumption.consumption input {
  flex: 0 0 32px;
}
.n5e.sheet.item .details .form-group.uses-per span,
.n5e.sheet.item .details .form-group.consumption span {
  flex: 0 0 16px;
  margin: 0 4px 0 0;
}
.n5e.sheet.item .details span.sep {
  flex: 0 0 8px;
}
.n5e.sheet.item .details .jutsu-materials {
  flex: 0 0 100%;
  margin: 0.25em 0;
  justify-content: flex-end;
}
.n5e.sheet.item .details .jutsu-materials label {
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: 12px;
  line-height: 24px;
}
.n5e.sheet.item .details .jutsu-materials input[type="number"] {
  flex: 0 0 48px;
  margin-right: 10px;
}
.n5e.sheet.item h4.damage-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.n5e.sheet.item .damage-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.n5e.sheet.item .damage-parts .damage-part {
  flex: 0 0 100%;
  padding: 0;
}
.n5e.sheet.item .damage-parts .damage-part input {
  flex: 3;
}
.n5e.sheet.item .damage-parts .damage-part select {
  margin-left: 5px;
  flex: 1;
}
.n5e.sheet.item .damage-control {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}
.n5e.sheet.item .recharge.form-group span {
  text-align: right;
  padding-right: 3px;
}
.n5e.sheet.item .recharge.form-group input[type="number"] {
  flex: 0 0 32px;
  text-align: center;
}
.n5e.sheet.item .recharge.form-group label.checkbox {
  flex: none;
}
.n5e.sheet.item .recharge.form-group label.checkbox input {
  width: 16px;
  height: 16px;
  top: 4px;
}
.n5e.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 98px;
}
.n5e.sheet.item .loot-header {
  margin-bottom: 10px;
}
/* ----------------------------------------- */
/*  Item Advancement                         */
/* ----------------------------------------- */
.n5e .advancement .items-list {
  height: 100%;
}
.n5e .advancement .items-list .main-controls .configuration-mode-control {
  flex: 1 0;
  margin-inline-start: 0.5em;
}
.n5e .advancement .items-list .main-controls .configuration-mode-control a {
  text-align: start;
}
.n5e .advancement .items-list .main-controls .item-add {
  padding-block-start: 0.2em;
}
.n5e .advancement .items-list .items-header .item-checkmark {
  flex: 0 0 44px;
  color: #119111;
  text-shadow: white 0 0 1px;
}
.n5e .advancement .items-list .items-header .item-warning {
  flex: 0 0 44px;
  color: #faff23;
  text-shadow: black 0 0 1px;
}
.n5e .advancement .items-list .item-name {
  flex: 1 0 10em;
}
.n5e .advancement .items-list .item-controls {
  border-left: 1px solid #c9c7b8;
  flex: 0 0 44px;
}
.n5e .advancement .items-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0 0.5em 0.5em 34px;
  margin-top: -4px;
  color: #191813;
}
.n5e .advancement .items-list .item-summary .item-list .item-name {
  display: flex;
}
.n5e .advancement .items-list .tag {
  font-size: 0.7rem;
  padding: 0.1em 0.5em;
}
/* ----------------------------------------- */
/*  Shinobi Compendium                       */
/* ----------------------------------------- */
.s-compendium.app {
  min-height: 480px;
  min-width: 640px;
}
.s-compendium.app .window-content {
  background: url(ui/parchment.jpg) repeat;
  color: var(--color-text-dark-primary);
}
.s-compendium article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.s-compendium article aside,
.s-compendium article .contents {
  border: 4px solid #ba2828;
  background: #efefef99;
}
.s-compendium article aside header h2,
.s-compendium article .contents header h2 {
  border: none;
  background: #ba2828;
  color: var(--color-text-light-1);
  padding: 0 0.25rem 0.25rem 0.25rem;
  margin: 0;
}
.s-compendium article aside section,
.s-compendium article .contents section {
  padding: 0.625rem 1rem;
}
.s-compendium article aside blockquote {
  border: none;
  margin: 0;
  padding: 0;
}
.s-compendium article .contents {
  flex-grow: 1;
}
.s-compendium article .contents .chapter {
  margin-bottom: 0.5rem;
  break-inside: avoid-column;
}
.s-compendium article .contents h3 {
  border: none;
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-text-hyperlink);
}
.s-compendium article .contents ul {
  list-style-type: none;
  margin: 0 0 0 0.375rem;
  padding: 0;
}
.s-compendium article .contents ul li {
  font-size: var(--font-size-16);
}
.s-compendium article .contents section {
  column-count: 3;
}
/* ----------------------------------------- */
/*  Journal Pages                            */
/* ----------------------------------------- */
.journal-editor {
  min-width: 340px;
  min-height: 260px;
}
.journal-editor .window-content {
  padding: 0;
}
.journal-editor .prosemirror menu {
  border-radius: 0;
}
.journal-editor .prosemirror .editor-container {
  overflow-y: auto;
}
.journal-entry-page.class h4,
.class-journal h4 {
  border-block-end: 1px solid var(--color-underline-header);
  font-weight: bold;
}
.journal-entry-page.class table th[scope="col"],
.class-journal table th[scope="col"] {
  padding-inline: 0.25em;
}
.journal-entry-page.class table td:is(.level, .prof, .scale),
.class-journal table td:is(.level, .prof, .scale) {
  text-align: center;
}
.journal-entry-page.class form .form-group,
.class-journal form .form-group {
  align-items: start;
}
.journal-entry-page.class form button.launch-text-editor,
.class-journal form button.launch-text-editor {
  flex: 0.35;
}
.journal-entry-page.class form .items-list .item,
.class-journal form .items-list .item {
  align-items: center;
  padding-block: 0.35em 0;
  padding-inline: 2px;
}
.journal-entry-page.class form .items-list .item .item-controls,
.class-journal form .items-list .item .item-controls {
  flex: 0;
}
.journal-entry-page.class form .items-list .item:not(:last-of-type),
.class-journal form .items-list .item:not(:last-of-type) {
  border-bottom: 1px solid var(--color-border-light-secondary);
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.n5e.chat-card {
  font-style: normal;
  font-size: 12px;
}
.n5e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.n5e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.n5e.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
}
.n5e.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.n5e.chat-card .card-content {
  margin: 5px 0;
}
.n5e.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.n5e.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.n5e.chat-card .card-buttons {
  margin: 5px 0;
}
.n5e.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.n5e.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}
.n5e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.n5e.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 0;
  font-size: 10px;
}
.n5e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.dice-roll .dice-total.critical {
  color: green;
}
.dice-roll .dice-total.fumble {
  color: red;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.n5e.sheet.actor.character {
  min-width: 720px;
  min-height: 750px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
.n5e.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.n5e.sheet.actor.character .sheet-header .charlevel {
  flex: 0 0 20px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #7a7971;
  white-space: nowrap;
}
.n5e.sheet.actor.character .sheet-header .experience {
  flex: 0 0 32px;
  margin-bottom: -5px;
  align-items: center;
  font-size: 18px;
}
.n5e.sheet.actor.character .sheet-header .experience span.max {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.n5e.sheet.actor.character .sheet-header .xpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.n5e.sheet.actor.character .sheet-header .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.n5e.sheet.actor.character .sheet-header .attributes a.rest {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 3px;
  margin: 0 3px;
}
.n5e.sheet.actor.character .sheet-header .attributes .hit-dice,
.n5e.sheet.actor.character .sheet-header .attributes .chakra-dice {
  font-size: 24px;
}
.n5e.sheet.actor.character .sheet-header .attributes .initiative .attribute-footer input {
  width: 32px;
}
.n5e.sheet.actor.character .sheet-header .summary .proficiency {
  text-align: right;
}
.n5e.sheet.actor.character .resource .attribute-value > input {
  flex: 0 0 25%;
}
.n5e.sheet.actor.character .resource .attribute-value label.recharge {
  height: 32px;
  position: relative;
  font-family: "Signika", sans-serif;
  font-size: 11px;
  text-align: center;
  color: #4b4a44;
  align-items: center;
}
.n5e.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
  flex-basis: 14px;
  height: 14px;
  width: 14px;
  margin: 0;
  top: -6px;
}
.n5e.sheet.actor.character ul.skills-list {
  flex: 0 0 212px;
}
.n5e.sheet.actor.character ul.skills-list li.skill {
  padding: 3px;
}
.n5e.sheet.actor.character ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 13px;
}
.n5e.sheet.actor.character .item-detail.player-class {
  flex: 0 0 180px;
  text-align: right;
  padding-right: 10px;
}
.n5e.sheet.actor.character .inventory .item-controls,
.n5e.sheet.actor.character .jutsulist .item-controls {
  flex: 0 0 68px;
}
.n5e.sheet.actor.character .inventory .item-controls .item-toggle,
.n5e.sheet.actor.character .jutsulist .item-controls .item-toggle {
  color: #b5b3a4;
}
.n5e.sheet.actor.character .inventory .item-controls .item-toggle.active,
.n5e.sheet.actor.character .jutsulist .item-controls .item-toggle.active {
  color: #4b4a44;
}
.n5e.sheet.actor.character .inventory .item-controls .item-toggle.fixed,
.n5e.sheet.actor.character .jutsulist .item-controls .item-toggle.fixed {
  color: #44191A;
}
.n5e.sheet.actor.character .inventory .item-controls .item-toggle.fixed:hover,
.n5e.sheet.actor.character .jutsulist .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.n5e.sheet.actor.character .characteristics {
  flex: 0 0 180px;
  height: 100%;
  padding: 0 3px 3px;
}
.n5e.sheet.actor.character .characteristics label {
  flex: 0 0 20px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.n5e.sheet.actor.character .characteristics textarea {
  font-family: "Signika", serif;
  font-size: 13px;
  border: 1px solid #c9c7b8;
  resize: none;
}
.n5e.sheet.actor.character .biography {
  max-width: calc(100% - 180px);
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.n5e.sheet.actor.npc {
  min-width: 700px;
  min-height: 750px;
}
.n5e.sheet.actor.npc .header-exp {
  flex: 0 0 80px;
  justify-content: center;
}
.n5e.sheet.actor.npc .header-exp .npclevel {
  flex: 0 0 32px;
  line-height: 28px;
  margin-bottom: -5px;
  font-size: 24px;
}
.n5e.sheet.actor.npc .header-exp .npclevel input {
  width: 32px;
  padding: 0;
  text-align: center;
}
.n5e.sheet.actor.npc .header-exp .experience,
.n5e.sheet.actor.npc .header-exp .proficiency {
  flex: 0 0 18px;
  color: #7a7971;
  font-size: 16px;
}
.n5e.sheet.actor.npc .header-exp .proficiency {
  margin-top: -0.3em;
}
.n5e.sheet.actor.npc .summary {
  font-size: 18px;
}
.n5e.sheet.actor.npc .summary .creature-type {
  display: flex;
  justify-content: space-between;
  width: 1em;
  padding: 0 3px;
}
.n5e.sheet.actor.npc .summary .creature-type span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.n5e.sheet.actor.npc .summary .creature-type .config-button {
  display: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 2em;
}
.n5e.sheet.actor.npc .summary .creature-type:hover .config-button {
  display: block;
}
.n5e.sheet.actor.vehicle {
  min-width: 720px;
  min-height: 680px;
}
.n5e.sheet.actor.vehicle .features .item-controls {
  flex: 0 0 68px;
}
.n5e.sheet.actor.vehicle .features .item-controls .item-toggle {
  color: #b5b3a4;
}
.n5e.sheet.actor.vehicle .features .item-controls .item-toggle.active {
  color: #4b4a44;
}
.n5e.sheet.actor.vehicle .counters .counter.creature-cap .counter-value {
  flex: 1;
}
.n5e.sheet.actor.vehicle .counters .counter.creature-cap input {
  max-width: none;
  text-align: right;
}
.n5e.sheet.actor.vehicle .counters .counter.cargo-cap input {
  max-width: 40px;
  text-align: right;
}
.n5e.sheet.group {
  min-width: 620px;
  min-height: 620px;
  /** Members Directory */
}
.n5e.sheet.group .attribute.health span.value,
.n5e.sheet.group .attribute.spirit span.value,
.n5e.sheet.group .attribute.tenacity span.value {
  line-height: 64px;
  flex: 0 0 64px;
}
.n5e.sheet.group .members .directory-header {
  height: 28px;
  margin: 2px 0;
  padding: 0 0.5rem;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
}
.n5e.sheet.group .members .directory-header > * {
  margin: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
}
.n5e.sheet.group .members .group-member {
  padding: 0 0.5rem;
}
.n5e.sheet.group .members .group-member .name {
  cursor: pointer;
  align-items: center;
}
.n5e.sheet.group .members .group-member .name h4 {
  white-space: unset;
  line-height: 1;
}
.n5e.sheet.group .members .hp,
.n5e.sheet.group .members .cp {
  flex: 2;
  align-items: center;
}
.n5e.sheet.group .members .hp .current,
.n5e.sheet.group .members .cp .current,
.n5e.sheet.group .members .hp .max,
.n5e.sheet.group .members .cp .max {
  flex: 0 0 40px;
  text-align: center;
}
.n5e.sheet.group .members .hp .bar-container,
.n5e.sheet.group .members .cp .bar-container {
  background: #111;
  height: 20px;
  padding: 1px;
  border: 1px solid #000;
  border-radius: 6px;
}
.n5e.sheet.group .members .hp .bar,
.n5e.sheet.group .members .cp .bar {
  height: 16px;
  border-radius: 4px;
}
.n5e.sheet.group .members .controls {
  flex: 0 0 64px;
  text-align: right;
}