{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "N5E.ItemActivationCost" }}</label>
    <div class="form-fields">
        {{#if system.activation.type}}
            <input type="number" step="any" name="system.activation.cost"
                   value="{{system.activation.cost}}" placeholder="-">
        {{/if}}
        <select name="system.activation.type" data-tooltip="N5E.ItemActivationType">
            {{selectOptions config.abilityActivationTypes selected=system.activation.type
                blank=(localize "N5E.None")}}
        </select>
    </div>
</div>
{{#if system.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "N5E.ItemActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="system.activation.condition" value="{{system.activation.condition}}">
    </div>
</div>

{{#if isCrewed}}
<div class="form-group">
    <label>{{ localize "N5E.Cover" }}</label>
    <div class="form-fields">
        <select name="system.cover" data-dtype="Number">
            {{selectOptions config.cover selected=system.cover blank=""}}
        </select>
    </div>
</div>
{{/if}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "N5E.Target" }}</label>
    <div class="form-fields">
        {{#if system.hasScalarTarget}}
            <input type="number" step="any" name="system.target.value"
                   value="{{system.target.value}}" placeholder="&mdash;">
        {{/if}}
        {{#if system.hasAreaTarget}}
            <select name="system.target.units" data-tooltip="N5E.TargetUnits">
                {{selectOptions config.movementUnits selected=system.target.units blank=""}}
            </select>
        {{/if}}
        <select name="system.target.type" data-tooltip="N5E.TargetType">
            {{#select system.target.type}}
                 <option value="">{{localize "N5E.None"}}</option>
                 <optgroup label="{{localize 'N5E.TargetTypeIndividual'}}">
                     {{selectOptions config.individualTargetTypes}}
                 </optgroup>
                 <optgroup label="{{localize 'N5E.TargetTypeArea'}}">
                     {{selectOptions config.areaTargetTypes labelAttr="label"}}
                 </optgroup>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Target Width --}}
{{#if isLine}}
<div class="form-group input-select-select">
    <label>{{ localize "N5E.TargetWidth" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.target.width"
            value="{{system.target.width}}" placeholder="&mdash;">
    </div>
</div>
{{/if}}

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "N5E.Range" }}</label>
    <div class="form-fields">
        {{#if system.hasScalarRange}}
            <input type="number" step="any" name="system.range.value" value="{{system.range.value}}"
                   placeholder="{{localize 'N5E.Normal'}}" data-tooltip="N5E.RangeNormal">
            <span class="sep">/</span>
            <input type="number" step="any" name="system.range.long" value="{{system.range.long}}"
                   placeholder="{{localize 'N5E.Long'}}" data-tooltip="N5E.RangeLong">
        {{/if}}
        <select name="system.range.units" data-tooltip="N5E.RangeUnits">
            {{#select system.range.units}}
                <option value="">{{localize "N5E.None"}}</option>
                <optgroup label="{{localize 'N5E.RangeDistance'}}">
                    {{selectOptions config.movementUnits}}
                </optgroup>
                {{selectOptions config.rangeTypes}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "N5E.Duration" }}</label>
    <div class="form-fields">
        {{#if system.hasScalarDuration}}
            <input type="text" name="system.duration.value" value="{{source.duration.value}}"
                   placeholder="&mdash;" data-tooltip="N5E.DurationValue" data-formula-editor>
        {{/if}}
        <select name="system.duration.units" data-tooltip="N5E.DurationType">
            {{#select system.duration.units}}
                <option value="">{{localize "N5E.None"}}</option>
                <optgroup label="{{localize 'N5E.DurationTime'}}">
                    {{selectOptions config.scalarTimePeriods}}
                </optgroup>
                <optgroup label="{{localize 'N5E.DurationPermanent'}}">
                    {{selectOptions config.permanentTimePeriods}}
                </optgroup>
                {{selectOptions config.specialTimePeriods}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>{{ localize "N5E.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.uses.value"
               value="{{system.uses.value}}" data-tooltip="N5E.UsesAvailable">
        <span class="sep">{{localize "N5E.of"}}</span>
        <input type="text" name="system.uses.max" value="{{source.uses.max}}"
               data-tooltip="N5E.UsesMax" data-formula-editor>
        <span class="sep">{{localize "N5E.per"}}</span>
        <select name="system.uses.per" data-tooltip="N5E.UsesPeriod">
            {{selectOptions config.limitedUsePeriods selected=system.uses.per blank=""}}
        </select>
    </div>
</div>

{{#if (eq system.uses.per "charges")}}
<div class="form-group">
    <label>{{localize "N5E.RecoveryFormula"}}</label>
    <div class="form-fields">
        <input type="text" name="system.uses.recovery" value="{{system.uses.recovery}}" data-formula-editor>
    </div>
</div>
{{/if}}

{{!-- Chakra Consumption --}}
{{#unless system.isVehicle}}
<div class="form-group chakraConsumption">
    <label>{{ localize "N5E.ChakraCost" }}</label>
    <div class="form-fields">
        {{#if system.chakraConsume.type}}
            {{#if system.class}}
            <input type="number" step="any" name="system.chakraConsume.amount"
                   value="{{system.chakraConsume.amount}}" data-tooltip="N5E.ConsumeQuanity">
            {{else}}
            <input type="number" step="any" name="system.chakraConsume.feature"
                   value="{{system.chakraConsume.feature}}" data-tooltip="N5E.ConsumeQuanity">
            {{/if}}
            <select name="system.chakraConsume.target" data-tooltip="N5E.ConsumeTarget">
                {{selectOptions chakraConsumptionTargets selected=system.chakraConsume.target blank=""}}
            </select>
        {{/if}}
        <select name="system.chakraConsume.type" data-tooltip="N5E.ConsumeType">
            {{selectOptions config.chakraConsumptionTypes selected=system.chakraConsume.type blank=(localize "N5E.None")}}
        </select>
    </div>
</div>
{{/unless}}

{{!-- Consumption --}}
<div class="form-group consumption">
    <label>{{ localize "N5E.ConsumeTitle" }}</label>
    <div class="form-fields">
        {{#if system.consume.type}}
            <input type="number" step="any" name="system.consume.amount"
                   value="{{system.consume.amount}}" data-tooltip="N5E.ConsumeQuanity">
            <select name="system.consume.target" data-tooltip="N5E.ConsumeTarget">
                {{selectOptions abilityConsumptionTargets selected=system.consume.target blank=""}}
            </select>
        {{/if}}
        <select name="system.consume.type" data-tooltip="N5E.ConsumeType">
            {{selectOptions config.abilityConsumptionTypes selected=system.consume.type blank=(localize "N5E.None")}}
        </select>
    </div>
</div>
{{/if}}