<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- NPC Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            {{> "n5e.actor-warnings"}}

            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'N5E.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="npclevel">
                    <label>{{ localize "N5E.Level" }}</label>
                    <input name="system.details.npcLevel" type="text" value="{{labels.npcLevel}}" placeholder="1"/>
                </div>
                <div class="experience">
                    <input type="text" name="system.details.xp.value" value="{{labels.xpValue}}" placeholder="{{ localize 'N5E.ExperiencePointsAbbr' }}"/>
                </div>
                <div class="proficiency">
                    <span>
                        {{ localize "N5E.Proficiency" }} {{labels.proficiency}}
                    </span>
                </div>
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li class="size">
                    <span>{{lookup config.actorSizes system.traits.size}}</span>
                </li>
                <li class="alignment">
                    <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" placeholder="{{ localize 'N5E.Alignment' }}"/>
                </li>
                <li class="creature-type">
                    <span data-tooltip="{{labels.type}}">{{labels.type}}</span>
                    <a class="config-button" data-action="type" data-tooltip="N5E.CreatureTypeConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                </li>
                <li class="source">
                    <input type="text" name="system.details.source" value="{{system.details.source}}"
                           placeholder="{{ localize 'N5E.Source' }}"/>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "N5E.HitPoints" }}</h4>
                    <a class="config-button" data-action="hit-points" data-tooltip="N5E.HitPointsConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.hp.value" type="text" value="{{hp.value}}" placeholder="10"
                            data-tooltip="N5E.HitPointsCurrent" data-dtype="Number">
                        <span class="sep"> / </span>
                        <input name="system.attributes.hp.max" type="text" value="{{hp.max}}" placeholder="10"
                            data-tooltip="N5E.HitPointsMax" data-dtype="Number">
                    </div>
                    <footer class="attribute-footer flexrow">
                        <input name="system.attributes.hp.temp" type="text" class="temphp"
                               placeholder="+{{ localize 'N5E.Temp' }}" value="{{hp.temp}}"
                               data-tooltip="N5E.HitPointsTemp">
                        <span class="sep"> | </span>
                        <input name="system.attributes.hp.tempmax" type="text" class="temphp"
                               placeholder="+{{ localize 'N5E.Max' }}" value="{{hp.tempmax}}"
                               data-tooltip="N5E.HitPointsTempMax">
                    </footer>
                </li>

                <li class="attribute spirit">
                    <h4 class="attribute-name box-title">{{ localize "N5E.ChakraPoints" }}</h4>
                    <a class="config-button" data-action="chakra-points" data-tooltip="N5E.ChakraPointsConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.cp.value" type="text" value="{{cp.value}}" placeholder="10"
                            data-tooltip="N5E.ChakraPointsCurrent" data-dtype="Number">
                        <span class="sep"> / </span>
                        <input name="system.attributes.cp.max" type="text" value="{{cp.max}}" placeholder="10"
                            data-tooltip="N5E.ChakraPointsMax" data-dtype="Number">
                    </div>
                    <footer class="attribute-footer flexrow">
                        <input name="system.attributes.cp.temp" type="text" class="tempcp"
                               placeholder="+{{ localize 'N5E.Temp' }}" value="{{cp.temp}}"
                               data-tooltip="N5E.ChakraPointsTemp">
                        <span class="sep"> | </span>
                        <input name="system.attributes.cp.tempmax" type="text" class="tempcp"
                               placeholder="+{{ localize 'N5E.Max' }}" value="{{cp.tempmax}}"
                               data-tooltip="N5E.ChakraPointsTempMax">
                    </footer>
                </li>

                <li class="attribute tenacity">
                    <h4 class="attribute-name box-title rollable">{{ localize "N5E.TenacityDice" }}</h4>
                    </a>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.td.value" type="text" value="{{system.attributes.td.value}}" placeholder="10"
                            data-tooltip="N5E.TenacityDiceCurrent" data-dtype="Number">
                        <span class="sep"> / </span>
                        <input name="system.attributes.td.max" type="text" value="{{system.attributes.td.max}}" placeholder="10"
                            data-tooltip="N5E.TenacityDiceMax" data-dtype="Number">
                    </div>
                    <footer class="attribute-footer flexrow">
                            <input name="system.attributes.td.denom" type="text" class="denom"
                               placeholder="+{{ localize 'N5E.Denomination' }}" value="{{system.attributes.td.denom}}"
                               data-tooltip="N5E.TenacityDiceDenomination">
                    </footer>
                </li>
                <li class="attribute armor">
                    <h4 class="attribute-name box-title">{{ localize "N5E.ArmorClass" }}</h4>
                    <a class="config-button" data-action="armor" data-tooltip="N5E.ArmorConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value" data-attribution="attributes.ac"
                        data-attribution-caption="N5E.ArmorClass" data-tooltip-direction="DOWN">
                        <span>{{system.attributes.ac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{labels.armorType}}</span>
                    </footer>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">{{ localize "N5E.Movement" }}</h4>
                    <a class="config-button" data-action="movement" data-tooltip="N5E.MovementConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "N5E.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "N5E.Features" }}</a>
        <a class="item" data-tab="jutsulist">{{ localize "N5E.Jutsulist" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5E.Effects" }}</a>
        <a class="item" data-tab="biography">{{ localize "N5E.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input type="text" value="{{ability.value}}" name="{{concat "system.abilities." id ".value"}}"
                        class="ability-score" placeholder="10" data-dtype="Number">
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" data-tooltip="N5E.Modifier">
                            {{numberFormat ability.mod decimals=0 sign=true}}
                        </span>
                        <input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.baseProf}}"
                               data-dtype="Number"/>
                        <a class="proficiency-toggle ability-proficiency" data-tooltip="N5E.Proficiency">
                            {{{ability.icon}}}
                        </a>
                        <span class="ability-save" data-tooltip="N5E.SavingThrow">
                            {{numberFormat ability.save decimals=0 sign=true}}
                        </span>
                    </div>
                    <a class="config-button" data-action="ability" data-tooltip="N5E.AbilityConfigure">
                        <i class="fas fa-cog"></i>
                    </a>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each config.skills as |obj s|}}
            {{#with (lookup ../skills s) as |skill|}}
                <li class="skill proficiency-row flexrow {{#if skill.value}}proficient{{/if}}" data-property="skills"
                    data-key="{{s}}">
                    <input type="hidden" name="system.skills.{{s}}.value"
                           value="{{skill.baseValue}}" data-dtype="Number">
                    <input type="hidden" name="system.skills.{{s}}.ability" value="{{skill.ability}}">
                    <a class="proficiency-toggle skill-proficiency" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>
                    <div class="skill-name-controls">
                      <h4 class="skill-name rollable">{{skill.label}}</h4>
                      <a class="config-button" data-action="skill" data-tooltip="N5E.SkillConfigure">
                          <i class="fas fa-cog"></i>
                      </a>
                    </div>
                    <span class="skill-ability">{{skill.abbreviation}}</span>
                    <span class="skill-mod" data-tooltip="{{localize 'N5E.SkillModifierHint' skill=skill.label}}">
                        {{numberFormat skill.total decimals=0 sign=true}}
                    </span>
                    <span class="skill-passive" data-tooltip="{{localize 'N5E.SkillPassiveHint' skill=skill.label}}">
                        ({{skill.passive}})
                    </span>
                </li>
            {{/with}}
            {{/each}}
            </ul>

            <section class="center-pane flexcol">

                {{!-- Elite Actions --}}
                <div class="counters">
                    <div class="counter flexrow elite">
                        <h4>{{ localize "N5E.LitAct" }}</h4>
                        <div class="counter-value">
                            <input name="system.resources.litact.value" type="text" step="any"
                                   value="{{system.resources.litact.value}}" placeholder="0"
                                   data-tooltip="N5E.LitActRemaining" data-dtype="Number">
                            <span class="sep">/</span>
                            {{numberInput system.resources.litact.max name="system.resources.litact.max" min=0 step=1
                                          placeholder=0}}
                        </div>
                    </div>
                    <div class="counter flexrow elite">
                        <h4>{{ localize "N5E.LitRes" }}</h4>
                        <div class="counter-value">
                            <input name="system.resources.litres.value" type="text" step="any"
                                   value="{{system.resources.litres.value}}" placeholder="0"
                                   data-tooltip="N5E.LitResRemaining" data-dtype="Number">
                            <span class="sep">/</span>
                            {{numberInput system.resources.litres.max name="system.resources.litres.max" min=0 step=1
                                          placeholder=0}}
                        </div>
                    </div>
                </div>

                {{!-- Traits --}}
                {{> "n5e.actor-traits"}}
            </section>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "n5e.actor-features" sections=features}}
        </div>

        {{!-- Jutsulist Tab --}}
        <div class="tab jutsulist flexcol" data-group="primary" data-tab="jutsulist">
            {{> "n5e.actor-jutsulist"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5e.active-effects"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor biographyHTML target="system.details.biography.value" button=true editable=editable
                     engine="prosemirror" collaborate=false}}
        </div>
    </section>
</form>