<form>
    <div class="ac-field form-group">
        <input type="number" name="ac.flat" {{disabled valueDisabled}}
               value="{{#if isFlat}}{{ac.flat}}{{else}}{{ac.value}}{{/if}}">
    </div>

    <div class="form-group select">
        <label>{{localize "N5E.ArmorClassCalculation"}}</label>
        <select name="ac.calc">
            {{selectOptions calculations selected=ac.calc labelAttr="label"}}
        </select>
    </div>

    <div class="form-group stacked">
        <label>{{localize "N5E.ArmorClassFormula"}}</label>
        <input type="text" name="ac.formula" value="{{formula}}" {{disabled formulaDisabled}}>
    </div>

    <button type="submit">
        <i class="far fa-save"></i> {{ localize "N5E.TraitSave" }}
    </button>
</form>