
<form>
  {{#if isCharacter}}

    <div class="cp-field form-group">
      <input type="number" name="cp.max" value="{{source.max}}"
        placeholder="{{cp.max}}" data-tooltip="N5E.ChakraPointsOverride">
    </div>

    <div class="form-group">
      <label>{{localize "N5E.ChakraPointsBonusLevel"}}</label>
      <input type="text" name="cp.bonuses.level" value="{{cp.bonuses.level}}">
    </div>
    <div class="form-group">
      <label>{{localize "N5E.ChakraPointsBonusOverall"}}</label>
      <input type="text" name="cp.bonuses.overall" value="{{cp.bonuses.overall}}">
    </div>

  {{else}}

    <div class="cp-field form-group">
      <input type="number" name="cp.max" value="{{cp.max}}" data-tooltip="N5E.ChakraPointsMax">
    </div>

    <div class="form-group">
      <label>{{localize "N5E.CPFormula"}}</label>
      <div class="form-fields">
        <input type="text" name="cp.formula" value="{{cp.formula}}">
        <button class="roll-chakra-points"><i class="fas fa-dice"></i> {{localize "N5E.Roll"}}</button>
      </div>
    </div>

  {{/if}}

  <button type="submit">
    <i class="far fa-save"></i> {{localize "Save"}}
  </button>
</form>