<form autocomplete="off" onsubmit="event.preventDefault();">

    {{#*inline "traitList"}}
    <ol class="trait-list">
        {{#each choices as |choice key|}}
        <li>
            <label class="checkbox">
                <input type="checkbox" name="{{#if ../prefix}}{{../prefix}}.{{/if}}{{key}}" {{checked choice.chosen}}>
                {{choice.label}}
            </label>
            {{#if choice.children}}
              {{> traitList choices=choice.children}}
            {{/if}}
        </li>
        {{/each}}
    </ol>
    {{/inline}}

    <h3>{{localize "N5E.DamageTypes"}}</h3>
    {{> traitList prefix="choices"}}

    {{#if allowCustom}}
    <div class="form-group stacked">
        <label>{{ localize "N5E.TraitSelectorSpecial" }}</label>
        <input type="text" name="choices.custom" value="{{custom}}" data-dtype="String"/>
    </div>
    {{/if}}

    <h3>{{localize "N5E.DamagePhysicalBypass"}}</h3>
    <p class="note">{{localize "N5E.DamagePhysicalBypassHint"}}</p>
    {{> traitList choices=bypasses prefix="bypasses"}}

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "N5E.TraitSave"}}</button>
</form>