
<form autocomplete="off">
    <p class="notes">{{localize "N5E.InitiativeConfigHint"}}</p>

    <div class="form-group">
        <label>{{localize "N5E.AbilityModifier"}}</label>
        <div class="form-fields">
            <select name="system.attributes.init.ability">
                {{selectOptions abilities selected=ability blank="" labelAttr="label"}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "N5E.InitiativeBonus"}}</label>
        <div class="form-fields">
            <input name="system.attributes.init.bonus" type="text" value="{{bonus}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "N5E.FlagsAlert"}}</label>
        <input type="checkbox" name="flags.n5e.initiativeAlert" {{checked initiativeAlert}}/>
    </div>

    <div class="form-group">
        <label>{{localize "N5E.FlagsInitiativeAdv"}}</label>
        <input type="checkbox" name="flags.n5e.initiativeAdv" {{checked initiativeAdv}}/>
    </div>

    <button type="submit"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>