<form autocomplete="off">
  <p class="notes">{{localize "N5E.SkillConfigurationHint"}}</p>
  <div class="form-group">
    <label>{{ localize "N5E.ProficiencyLevel" }}</label>
    <select name="system.skills.{{skillId}}.value" data-dtype="Number">
      {{selectOptions proficiencyLevels selected=skill.value}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "N5E.AbilityModifier"}}</label>
    <select name="system.skills.{{skillId}}.ability">
      {{selectOptions abilities selected=skill.ability labelAttr="label"}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "N5E.SkillBonusCheck"}}</label>
    <input name="system.skills.{{skillId}}.bonuses.check" type="text" value="{{skill.bonuses.check}}">
  </div>
  <div class="form-group">
    <label>{{localize "N5E.SkillBonusPassive"}}</label>
    <input name="system.skills.{{skillId}}.bonuses.passive" type="text" value="{{skill.bonuses.passive}}">
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "N5E.BonusAbilitySkill"}}</label>
    <input name="system.bonuses.abilities.skill" type="text" value="{{bonusGlobal}}">
    <p class="notes">{{localize "N5E.SkillGlobalBonusCheckHint"}}</p>
  </div>
  <button type="submit"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>