<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                {{#if (eq system.weaponType "natural")}}
                <h4 class="item-type">{{localize 'N5E.WeaponNatural'}}</h4>
                {{else if (eq system.weaponType "improv")}}
                <h4 class="item-type">{{localize 'N5E.WeaponImprov'}}</h4>
                {{else if (eq system.weaponType "siege")}}
                <h4 class="item-type">{{localize 'N5E.WeaponSiege'}}</h4>
                {{else}}
                <h4 class="item-type">{{itemType}}</h4>
                {{/if}}
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.weaponTypes system.weaponType }}
                </li>
                {{#unless (eq system.weaponType "natural")}}
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                {{/unless}}
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "n5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "N5E.ItemWeaponDetails" }}</h3>

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{ localize "N5E.ItemWeaponType" }}</label>
                <select name="system.weaponType">
                    {{selectOptions config.weaponTypes selected=system.weaponType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "N5E.ItemWeaponBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            {{#unless system.isMountable}}
            <div class="form-group">
                <label>{{localize "N5E.Attunement"}}</label>
                <select name="system.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=system.attunement}}
                </select>
            </div>

            <div class="form-group">
                <label>{{localize "N5E.Proficiency"}}</label>
                <select name="system.proficient" data-dtype="Number">
                    {{selectOptions config.weaponAndArmorProficiencyLevels selected=system.proficient
                                    blank=(localize "N5E.Automatic")}}
                </select>
            </div>

            {{!-- Weapon Status --}}
            <div class="form-group stacked">
                <label>{{ localize "N5E.ItemWeaponStatus" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "N5E.Equipped" }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "N5E.Identified" }}
                    </label>
                </div>
            </div>
            {{/unless}}

            {{!-- Weapon Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>{{ localize "N5E.ItemWeaponProperties" }}</label>
                {{#each config.weaponProperties as |name prop|}}
                <label class="checkbox">
                    <input type="checkbox" name="system.properties.{{prop}}" {{checked (lookup ../system.properties prop)}}/> {{ name }}
                </label>
                {{/each}}
            </div>

            {{#if system.isMountable}}
            <div class="form-group">
                <label>{{localize 'N5E.ArmorClass'}}</label>
                <div class="form-fields">
                    {{numberInput system.armor.value name="system.armor.value"}}
                </div>
            </div>

            {{> "n5e.item-mountable"}}
            {{/if}}

            <h3 class="form-header">{{ localize "N5E.ItemWeaponUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "n5e.item-activation"}}

            <h3 class="form-header">{{ localize "N5E.ItemWeaponAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "n5e.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5e.active-effects"}}
        </div>
    </section>
</form>