<div class="traits">
    <div class="form-group">
        <label>{{localize "N5E.Size"}}</label>
        <select class="actor-size" name="system.traits.size">
            {{#select system.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless isVehicle}}
    <div class="form-group">
        <label>{{localize "N5E.Senses"}}</label>
        <a class="config-button" data-action="senses" data-tooltip="N5E.SensesConfig">
            <i class="fas fa-cog"></i>
        </a>
        <ul class="traits-list">
        {{#each senses as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.languages.cssClass}}">
        <label>{{localize "N5E.Languages"}}</label>
        <a class="trait-selector" data-trait="languages"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.Languages')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/unless}}

    <div class="form-group {{traits.traits.di.cssClass}}">
        <label>{{localize "N5E.DamImm"}}</label>
        <a class="trait-selector" data-trait="di"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.DamImm')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.di.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.dr.cssClass}}">
        <label>{{localize "N5E.DamRes"}}</label>
        <a class="trait-selector" data-trait="dr"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.DamRes')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.dr.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.dv.cssClass}}">
        <label>{{localize "N5E.DamVuln"}}</label>
        <a class="trait-selector" data-trait="dv"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.DamVuln')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.dv.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.ci.cssClass}}">
        <label>{{localize "N5E.ConImm"}}</label>
        <a class="trait-selector" data-trait="ci"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.ConImm')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.ci.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    {{#if isCharacter}}
    <div class="form-group {{traits.traits.weaponProf.cssClass}}">
        <label>{{localize "N5E.TraitWeaponProf"}}</label>
        <a class="trait-selector" data-trait="weapon"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.TraitWeaponProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.weaponProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.armorProf.cssClass}}">
        <label>{{localize "N5E.TraitArmorProf"}}</label>
        <a class="trait-selector" data-trait="armor"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.TraitArmorProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.armorProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.toolProf.cssClass}}">
        <label>{{localize "N5E.TraitToolProf"}}</label>
        <a class="trait-selector" data-trait="tool"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.TraitToolProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.toolProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#unless isVehicle}}
    <div class="form-group ">
        <label>{{localize "N5E.SpecialTraits"}}</label>
        <a class="config-button" data-action="flags"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.SpecialTraits')}}">
            <i class="fas fa-cog"></i>
        </a>
    </div>
    {{/unless}}
</div>