<div class="inventory-filters jutsulist-filters flexrow">
    <div class="form-group jutsucasting-ability">
        <label>{{localize "N5E.Genjutsu"}}</label>
        <select name="system.attributes.genjutsucasting" data-type="String">
            {{#select system.attributes.genjutsucasting}}
            <option value="">{{localize "N5E.None"}}</option>
            {{#each abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
        </select>
        <span>{{localize "N5E.AbbreviationDC"}} {{system.attributes.genjutsudc}}</span>
    </div>
    
    <div class="form-group jutsucasting-ability">
        <label>{{localize "N5E.Ninjutsu"}}</label>
        <select name="system.attributes.ninjutsucasting" data-type="String">
            {{#select system.attributes.ninjutsucasting}}
            <option value="">{{localize "N5E.None"}}</option>
            {{#each abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
        </select>
        <span>{{localize "N5E.AbbreviationDC"}} {{system.attributes.ninjutsudc}}</span>
    </div>

    <div class="form-group jutsucasting-ability">
        <label>{{localize "N5E.Taijutsu"}}</label>
        <select name="system.attributes.taijutsucasting" data-type="String">
            {{#select system.attributes.taijutsucasting}}
            <option value="">{{localize "N5E.None"}}</option>
            {{#each abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
        </select>
        <span>{{localize "N5E.AbbreviationDC"}} {{system.attributes.taijutsudc}}</span>
    </div>
</div>

<div class="inventory-filters jutsulist-filters flexrow">
        <ul class="filter-list flexrow" data-filter="jutsulist">
            <li class="filter-item" data-filter="action">{{localize "N5E.Action"}}</li>
            <li class="filter-item" data-filter="bonus">{{localize "N5E.BonusAction"}}</li>
            <li class="filter-item" data-filter="reaction">{{localize "N5E.Reaction"}}</li>
            <li class="filter-item" data-filter="concentration">{{localize "N5E.AbbreviationConc"}}</li>
            <li class="filter-item" data-filter="art">{{localize "N5E.ClassArt"}}</li>
            <li class="filter-item" data-filter="bukijutsu">{{localize "N5E.ClassBki"}}</li>
            <li class="filter-item" data-filter="genjutsu">{{localize "N5E.ClassGen"}}</li>
            <li class="filter-item" data-filter="hijutsu">{{localize "N5E.ClassHij"}}</li>
            <li class="filter-item" data-filter="ninjutsu">{{localize "N5E.ClassNin"}}</li>
            <li class="filter-item" data-filter="taijutsu">{{localize "N5E.ClassTai"}}</li>
        </ul>
</div>

<ol class="items-list inventory-list">
{{#each jutsulist as |section|}}
    <li class="items-header jutsulist-header flexrow">
        <div class="item-name flexrow">
            <h3>{{section.label}}</h3>
        </div>
        <div class="jutsu-class">{{localize "N5E.JutsuClass"}}</div>
        <div class="jutsu-action">{{localize "N5E.JutsuUsage"}}</div>
        <div class="jutsu-target">{{localize "N5E.JutsuTarget"}}</div>

        <div class="item-controls flexrow">
            {{#if section.canCreate}}
            <a class="item-control item-create" data-tooltip="N5E.JutsuCreate"
                {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "N5E.Add"}}
            </a>
            {{/if}}
        </div>
    </li>

    <ol class="item-list">
    {{#each section.jutsu as |item i|}}
    {{#n5e-itemContext item as |ctx|}}
        <li class="item flexrow {{#if ctx.isExpanded}}expanded{{/if}}" data-item-id="{{item.id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                <h4>{{item.name}}</h4>
                {{#if item.system.uses.per }}
                <div class="item-detail jutsu-uses">Uses {{item.system.uses.value}} / {{item.system.uses.max}}</div>
                {{/if}}
                <div class="jutsu-comps">
                    {{#each item.labels.components.all}}
                    <span class="jutsu-component">{{abbr}}</span>
                    {{/each}}
                    {{#each item.labels.keywords.all}}
                    <span class="jutsu-component tag">{{abbr}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="jutsu-class">{{item.labels.class}}</div>
            <div class="jutsu-action">{{item.labels.activation}}</div>
            <div class="jutsu-target" data-tooltip="{{localize 'N5E.Range'}}: {{item.labels.range}}">
                {{#if item.labels.target}}
                {{item.labels.target}}
                {{else}}{{localize 'N5E.None'}}
                {{/if}}
            </div>

            {{#if @root.owner}}
            <div class="item-controls flexrow">
                {{#if section.canPrepare}}
                <a class="item-control item-toggle {{ctx.toggleClass}}" data-tooltip="{{ctx.toggleTitle}}">
                    <i class="fas fa-sun"></i>
                </a>
                {{/if}}
                <a class="item-control item-edit" data-tooltip="N5E.ItemEdit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-tooltip="N5E.ItemDelete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
            {{/if}}

            {{#if ctx.isExpanded}}
                {{> "n5e.item-summary" (lookup @root.expandedData item.id)}}
            {{/if}}
        </li>
    {{/n5e-itemContext}}
    {{/each}}
    </ol>
{{else}}
    {{#if owner}}
    {{#if filters.jutsulist.size}}
    <li class="item flexrow"><p class="notes">{{localize "N5E.FilterNoJutsu"}}</p></li>
    {{else}}
    <li class="item flexrow inventory-header jutsulist-header jutsulist-empty">
        <div class="item-controls flexrow">
            <a class="item-control item-create" data-tooltip="N5E.JutsuCreate" data-type="jutsu" data-rank="{{rnk}}">
                <i class="fas fa-plus"></i> {{localize "N5E.JutsuAdd"}}
            </a>
        </div>
    </li>
    <li class="item flexrow"><p class="notes">{{localize "N5E.NoJutsu"}}</p></li>
    {{/if}}
    {{/if}}
{{/each}}
</ol>